<html>
<head>


</head>

<body>

<form target="_blank" action="/search/author" method="get">
	Search [ Author ]: <input type="text" name="q">
	<input type="submit" value="Submit">
</form>

<hr>

<form target="_blank" action="/search/title" method="get">
	Search [ Title ]: <input type="text" name="q">
	<input type="submit" value="Submit">
</form>


<hr>

<form target="_blank" action="/search/student" method="get">
	Search [ Student ]: <input type="text" name="q">
	<input type="submit" value="Submit">
</form>

<hr>

<form target="_blank" action="/reserve/book" method="get">
	Reserve Book: <br>
	student id: <input type="number" name="sid">
	book id: <input type="number" name="bid">
	<input type="submit" value="Submit">
</form>

<hr>

<form target="_blank" action="/return/book" method="get">
	Return Book: <br>
	book id: <input type="number" name="bid">
	<input type="submit" value="Submit">
</form>


</body>

</html>
